body {
	background-color: #ececec;
}

h3 {
	color: #3fa2ec;
}

span {
	font-weight: 700;
}

ul#social {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul#social > li {
	float: left;
}

ul#social > li > a {
	color: red;
	display: block;
    padding: 14px 16px;
    text-decoration: none;
}

ul#social > li > a:hover {
	color: blue;
	background-color: #fff;
}